{% extends "base.html" %}
{% block head %}
<script>
function openForm1() {
  	document.getElementById("CustomerForm").style.display = "block";
}

function closeForm1() {
 	document.getElementById("CustomerForm").style.display = "none";
}

function openForm2() {
  	document.getElementById("PurchaseForm").style.display = "block";
}

function closeForm2() {
 	document.getElementById("PurchaseForm").style.display = "none";
}
</script>
<style>

body {font-family: Arial, Helvetica, sans-serif;}
* {box-sizing: border-box;}


.form2{
  float:right;
  width:40%;

  display: none;
  width:50%;
  position: absolute;

  top: 200px ;
  border: 3px solid #f1f1f1;
  z-index: 9;



}
.form1 {
  position: absolute;
  display: none;
  float:left;
  width:40%;
  top: 200px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-container select{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


.open-button1 {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position:fixed;
  
  left:50px;
  top: 100px;
}

.open-button2 {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8; 
  position:fixed;

  right:50px;
  top: 100px;
}
.form-container input[type=select]:focus {
  background-color: #ddd;
  outline: none;



.form-container input[type=text]:focus {
  background-color: #ddd;
  outline: none;

.form-container .cancel {
  background-color: red;
}
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

</style
{% endblock %}

{% block body %}

<button class="open-button1" onclick="openForm1()">Create Customer</button>


<div class="form1" id="CustomerForm">
<form class="form-container" action="" method="post">
    {% csrf_token %}
    {{form1}}
    <input  class="btn" type="submit" value="Create">
       <button type="button" class="btn cancel" onclick="closeForm1()">Close</button>
</form>
</div>


<button class="open-button2" onclick="openForm2()">Create Order</button>
<div class="form2" id="PurchaseForm" >
<form class="form-container" action="" method="post">
    {% csrf_token %}
    {{form2}}
    <input type="submit" value="Create" class="btn">
    <button type="button" class="btn cancel" onclick="closeForm2()">Close</button>
</form>
</div>

 {% endblock %}


