{% extends "base.html" %}
{% block head %}
<script>
if ({{toggle}}==5){
alert("the order is immanent")
}
</script>
<style>
input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=number], select {
  width: 80%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {
  width: 80%;
  background-color:   #0000CD;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
div{
    width:70%; 
    margin-left:auto; 
    margin-right:auto;
  }
 p {
 	text-align:center;
 }
 h1{
 	
 	text-align:center;

 }
 div{
 	text-align:center;
 }

 </style>
 

{% block title %}{% endblock %}
{% endblock %}

{% block body %}
<h1>The date is {{d}}</h1>
 <h1 id=p1>Search parameters </h1>
 <body background="bgimage.jpg">
<div>
	<form action="{% url 'search_results' %}" method="get">
  			<select name="search parameter" id="effectTypes">
 				<option value="1">Customer first name</option>
        		<option value="2">Customer last name</option>
       			<option value="3">Purchase  number </option>
    </form>
</dib>      

<div>


  		<form action="{% url 'search_results' %}" method="get">
  	
  		<label for ="q">Customer</lablel>
  		<input name="q" type="text" placeholder="Search...">
  		<input type="submit" value="Search">
  		</form>
</div>

<div>

<h1> Price finder</h1>
<form id= "form1" action="" method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Search">
</form>
</div>

 {% endblock %}

  
